* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom right, #1e1e1e, #121212);
    color: #e0e0e0;
}

header {
    padding: 20px;
    margin: auto;
}

h1 {
    margin: 0;
    font-size: 2.5em;
    text-align: center;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.gallery img {
    width: 100%;
    cursor: pointer;
    transition: transform 0.5s ease; /* Smooth transition for both scaling and rotation */
    border-radius: 15px;
}

.gallery img:hover {
    transform: scale(1.1) rotate(3deg); /* Scale up and rotate by 3 degrees */
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    max-width: 80%;
    max-height: 80vh;
    transition: opacity 0.5s ease-in-out;
}

.close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.prev, .next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: #f1f1f1;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.5);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .container {
        padding: 30px 5%;
    }

    h1 {
        font-size: 2em; /* Smaller heading on tablets and phones */
    }

    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust grid layout for medium screens */
    }

    .prev, .next {
        font-size: 20px;
        padding: 12px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 20px 2%;
    }

    h1 {
        font-size: 1.5em; /* Smaller heading on phones */
    }

    .gallery {
        grid-template-columns: 1fr; /* Single column layout for phones */
        grid-gap: 15px; /* Adjust spacing between images */
    }

    .prev, .next {
        font-size: 18px;
        padding: 10px;
    }
}
